In [3]:
import pandas as pd 
import numpy as np

In [4]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [5]:
Dc = pd.DataFrame(dict_data)
Dc

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [6]:
Dc = pd.DataFrame(dict_data,index = ['ana','benito','camilo','daniel','erika','fabian','gabriela'])
Dc

          edad   cm pais genero    Q1  Q2
ana         10  115   co      M   5.0   7
benito       9  110   mx      F  10.0   9
camilo      13  130   co      F   8.0   9
daniel      14  155   mx      M   NaN   8
erika       12  125   mx      M   7.0   8
fabian      11  120   ch      M   8.0   8
gabriela    12  125   ch      F   3.0   9

In [7]:
Dc.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [8]:
Dc.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [9]:
Dc.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

In [10]:
Dc['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [11]:
Dc.loc['ana']

edad       10
cm        115
pais       co
genero      M
Q1        5.0
Q2          7
Name: ana, dtype: object

In [12]:
Dc.loc['ana',['Q1']]

Q1    5.0
Name: ana, dtype: object

In [13]:
Dc.iloc[2,1]

130

In [14]:
Dc['edad']>=12

ana         False
benito      False
camilo       True
daniel       True
erika        True
fabian      False
gabriela     True
Name: edad, dtype: bool

In [15]:
Dc[Dc['edad']>=12]

          edad   cm pais genero   Q1  Q2
camilo      13  130   co      F  8.0   9
daniel      14  155   mx      M  NaN   8
erika       12  125   mx      M  7.0   8
gabriela    12  125   ch      F  3.0   9

In [16]:
#!/usr/bin/env python
import psutil
# gives a single float value
psutil.cpu_percent()
# gives an object with many fields
psutil.virtual_memory()
# you can convert that object to a dictionary 
dict(psutil.virtual_memory()._asdict())
# you can have the percentage of used RAM
psutil.virtual_memory().percent
79.2
# you can calculate percentage of available memory
psutil.virtual_memory().available * 100 / psutil.virtual_memory().total
20.8

20.8

In [33]:
dir='./{}'.format('kk.csv') #almacenar en la cadena de texto anterior
dir

'./kk.csv'

In [36]:
Dc.to_csv(dir, sep='|')

In [37]:
pd.read_csv('./kk.csv',sep='|')

  Unnamed: 0  edad   cm pais genero    Q1  Q2
0        ana    10  115   co      M   5.0   7
1     benito     9  110   mx      F  10.0   9
2     camilo    13  130   co      F   8.0   9
3     daniel    14  155   mx      M   NaN   8
4      erika    12  125   mx      M   7.0   8
5     fabian    11  120   ch      M   8.0   8
6   gabriela    12  125   ch      F   3.0   9

In [ ]:
"""
CSV - Es muy versatil ya que solo tiene comas y saltos de linea
JSON - Tiene un formato muy similar al de un diccionario de Python
Excel - Permite guardar el archivo en formato .xls para trabajar con el en Excel o Spreadsheets
Pickle - Permite comprimir la información, es util cuando se tienen tablas grandes
Parquet - Permite darle un formato que puede usarse en ambientes de Big Data como Hadoop
"""

Error: KeyboardInterrupt